<div class="content" id="phanTichABCVEN" style="display: none">
    <div>
        <h6>Nhập dữ liệu Phân tích ABC/VEN:</h6>
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="inputFileABC" hidden>
        <input type="text" id="fileNameInput" style="width: 400px; margin-right: 20px" disabled>
        <button class="btn btn-secondary btn-sm" onclick="chonFileACB()">Chọn file</button>
    </div>
    <button class="btn btn-primary mt-5" onclick="window.open('https://app.powerbi.com/Redirect?action=OpenReport&appId=1c65affd-5446-4174-9262-90365ff9d66f&reportObjectId=9c8c7436-bd7f-4f43-8ba2-47bc12d704e8&ctid=eab3c8f8-7488-460f-a2b4-412eaddea8bf&pbi_source=appShareLink&portalSessionId=931f9b96-6b69-470a-a1c8-5282f5a3e15e','_blank')">Truy cập Power Bi</button>
</div>